@use 'base';
@use 'layout';
@use 'pages';
@use 'components';




/* --- Servicios ---*/
/*
.servicios-bkgcolor,
.nosotros-bkgcolor,
.galeria-bkgcolor {
    background-color: #EEE4C6;
    padding-top: 2rem;
}

.titulo-servicio,
.titulo-nosotros,
.titulo-galeria,
.titulo-contacto {
    color: #2D4350;
    font-size: clamp(1.3rem, 5vw, 2.5rem);
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    //text-decoration: underline #2D4350;
    text-underline-offset: 1rem;
}

.servicio-item {
    width: 100%;
}

.texto-servicio h2 {
    color: #2D4350;
    font-size: clamp(1rem, 3vw, 2rem);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    //text-decoration: underline 2px solid #DC9E67;
}

.texto-servicio p {
    color: #2D4350;
    font-size: clamp(1rem, 3vw, 1.15rem);
    text-align: center;
}

.servicio-item .row {
    display: flex;
    align-items: center;
}

.servicio-item {
    margin-bottom: 2rem;
}

.servicio-item:nth-of-type(odd) .row {
    flex-direction: row;
}

.servicio-item:nth-of-type(even) .row {
    flex-direction: row-reverse;
}

.servicio-item:nth-of-type(odd) .img-servicio img {
    display: block;
    margin: 0 0 0 auto;
}


.servicio-item:nth-of-type(odd) .texto-servicio {
    padding-right: 3rem;
}

.servicio-item:nth-of-type(even) .texto-servicio {
    padding-left: 3rem;
}
*/
/* --- Nosotros ---*/
/*
.titulo-nosotros {
    margin-bottom: 3rem;
}

.nosotros-bienvenida {
    text-align: center;
}

.articulo-nosotros {
    text-align: center;
}

.articulo-nosotros h2,
.lista-contactos article h2 {
    color: #2D4350;
    font-size: clamp(1.3rem, 3vw, 2rem);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    // text-decoration: underline 2px solid #DC9E67;
}

.articulo-nosotros p,
.nosotros-bienvenida p {
    color: #2D4350;
    font-size: clamp(0.7rem, 3vw, 1.25rem);
    text-align: left;
}

.nosotros-primeraFila {
    padding: 4rem 0;
}
*/

/* -- Galeria -- */
/*
.contenedor-galeria {
    padding: 5rem;
}

.contenedor-galeria img {
    display: block;
    margin: 0 auto 0 auto;
    height: 100%;
}

.titulo-galeria {
    margin-bottom: rem;
}
*/

/* -- Contacto -- */
/*
.titulo-contacto {
    margin-bottom: 4rem;
}

.form-label {
    color: #2D4350;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: clamp(0.7rem, 3vw, 1.25rem);
}

.form-text {
    color: #2D4350;
    margin-bottom: 1.5rem;
}

*/

/*--- MEDIAS QUERYS ---*/

/* -- DESKTOP -- */
// Max-width: igual o menor que el ancho especificado

/*
@media (max-width: 1023px) {
    .galeria-main {
        grid-template-columns: repeat(2, 1fr)
    }
*/
/*Footer*/
/*
    .img-container {
        margin-bottom: 1.5rem;
    }

    .contacto-container {
        margin-bottom: 1.5rem;
    }
*/
/* -- Servicios -- */
/*
    .titulo-servicio {
        text-decoration: none;
    }

    .servicio-item .row {
        display: flex;
        flex-direction: column;
    }

    .img-servicio img {
        display: block;
        margin: 0 auto 0 auto;
    }

    .servicio-item:nth-of-type(odd) .img-servicio img {
        margin: 0 auto 0 auto;
    }

    .servicio-item:nth-of-type(odd) .texto-servicio {
        padding: 0;
    }

    .servicio-item:nth-of-type(even) .texto-servicio {
        padding: 0;
    }
*/
/* -- Servicios -- */
/*
    .nosotros-primeraFila,
    .nosotros-segundaFila {
        flex-direction: column;
        padding: 0;
    }

    .nosotros-primeraFila {
        padding: 2rem 0;
    }

    .nosotros-primeraFila div {
        padding: 2rem 0;
    }

    .nosotros-primeraFila:nth-last-child {
        padding-bottom: 0;
    }

    .nosotros-segundaFila div {
        padding-bottom: 2rem;
    }

}
*/
/* -- MOBILE -- */
/*Max-width: igual o menor que el ancho especificado*/
/*
@media (max-width: 600px) {

    // -- Index -- 
    .galeria-main {
        grid-template-columns: repeat(1, 1fr)
    }

    .subtitulos-main {
        text-decoration: none;
    }
}
    */