@use 'base';
@use 'layout';
@use 'pages';
@use 'components';



/* -- Galeria -- */
/*
.contenedor-galeria {
    padding: 5rem;
}

.contenedor-galeria img {
    display: block;
    margin: 0 auto 0 auto;
    height: 100%;
}

.titulo-galeria {
    margin-bottom: rem;
}
*/

/* -- Contacto -- */
/*
.titulo-contacto {
    margin-bottom: 4rem;
}

.form-label {
    color: #2D4350;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: clamp(0.7rem, 3vw, 1.25rem);
}

.form-text {
    color: #2D4350;
    margin-bottom: 1.5rem;
}

*/