@use 'base';
@use 'layout';



/* --- Footer --- */
/*
.footer-general {
    background-color: #EEE4C6;
    border-top: 3px solid #2D4350;
    border-bottom: 3px solid #2D4350;
    padding: 1rem 0;
}


.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.logo-footer {
    width: clamp(120px, 15vw, 50%);
    height: auto;
    padding: 5px;
}

.footer-contacto {
    margin: 0;
}

.footer-contacto h3,
.footer-redes h3 {
    font-size: clamp(0.7rem, 5vw, 1rem);
    color: #2D4350;
    text-align: center;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.footer-contacto .footer-contacto-lista {
    padding: 0;
    list-style: none;
    margin: 0;
}

.footer-contacto .footer-contacto-lista li {
    font-size: clamp(1rem, 5vw, 0.8rem);
    text-align: center;
    color: #2D4350;
    padding: 5px;
}

.footer-redes .footer-redes-lista {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-redes .footer-redes-lista li {
    padding: 5px;
    text-align: center;
}

.footer-redes .footer-redes-lista li a {
    font-size: clamp(00.8rem, 5vw, 1rem);
    text-align: center;
    color: #2D4350;
    text-decoration: none;
}
*/
/* --- Index ---*/
/*Cree otra section que envuelve al main en general para poder dar background color evitando los limites de seguridad del container*/
/*
.main-bkgcolor {
    padding-top: 2rem;
}
*/
/*Oculto el titulo principal pero se conserva el SEO*/
/*.titulo-principal {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.subtitulos-main {
    color: #2D4350;
    text-align: center;
    margin-top: 2.5rem;
    font-size: clamp(1.3rem, 5vw, 2.5rem);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    /*text-decoration: underline 3px #2D4350;
    text-underline-offset: 25px;
    margin-bottom: 60px;
}


.imagen-principal {
    display: block;
    width: 100%
}

.galeria-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 2rem 0;
}

.galeria-main li {
    font-size: clamp(0.5rem, 5vw, 1.5rem);
 //   background-color: #DC9E67;
    color: #2D4350;
    text-align: center;
    padding: 2rem;
    border-radius: 8px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-width: 0 0 4px 0;
    border-style: solid;
    border-color: #DC9E67;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.galeria-main li:hover {
    transform: translateY(-5px);
    background-color: #DC9E67;
}
*/
/*
.galeria-main li::before {
    content: '⚙️';
    display: block;
    //Cambio a display block porque ::before es un elemento de linea por defecto. 
font-size: clamp(1.2rem, 5vw, 3rem);
margin-bottom: 1rem;
}

.contenedor-boton {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.contenedor-boton .boton-general {
    text-decoration: none;
    // border-bottom: 4px solid #2D4350;
    //border-right: 4px solid #2D4350;
    border-radius: 50px;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    font-size: clamp(0.5rem, 2.5vw, 1.2rem);
    background-color: #2D4350;
    color: #EEE4C6;
}

.contenedor-boton .boton-general:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 8px 25px #DC9E67;
}
*/
/* --- Servicios ---*/
/*
.servicios-bkgcolor,
.nosotros-bkgcolor,
.galeria-bkgcolor {
    background-color: #EEE4C6;
    padding-top: 2rem;
}

.titulo-servicio,
.titulo-nosotros,
.titulo-galeria,
.titulo-contacto {
    color: #2D4350;
    font-size: clamp(1.3rem, 5vw, 2.5rem);
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    //text-decoration: underline #2D4350;
    text-underline-offset: 1rem;
}

.servicio-item {
    width: 100%;
}

.texto-servicio h2 {
    color: #2D4350;
    font-size: clamp(1rem, 3vw, 2rem);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    //text-decoration: underline 2px solid #DC9E67;
}

.texto-servicio p {
    color: #2D4350;
    font-size: clamp(1rem, 3vw, 1.15rem);
    text-align: center;
}

.servicio-item .row {
    display: flex;
    align-items: center;
}

.servicio-item {
    margin-bottom: 2rem;
}

.servicio-item:nth-of-type(odd) .row {
    flex-direction: row;
}

.servicio-item:nth-of-type(even) .row {
    flex-direction: row-reverse;
}

.servicio-item:nth-of-type(odd) .img-servicio img {
    display: block;
    margin: 0 0 0 auto;
}


.servicio-item:nth-of-type(odd) .texto-servicio {
    padding-right: 3rem;
}

.servicio-item:nth-of-type(even) .texto-servicio {
    padding-left: 3rem;
}
*/
/* --- Nosotros ---*/
/*
.titulo-nosotros {
    margin-bottom: 3rem;
}

.nosotros-bienvenida {
    text-align: center;
}

.articulo-nosotros {
    text-align: center;
}

.articulo-nosotros h2,
.lista-contactos article h2 {
    color: #2D4350;
    font-size: clamp(1.3rem, 3vw, 2rem);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    // text-decoration: underline 2px solid #DC9E67;
}

.articulo-nosotros p,
.nosotros-bienvenida p {
    color: #2D4350;
    font-size: clamp(0.7rem, 3vw, 1.25rem);
    text-align: left;
}

.nosotros-primeraFila {
    padding: 4rem 0;
}
*/

/* -- Galeria -- */
/*
.contenedor-galeria {
    padding: 5rem;
}

.contenedor-galeria img {
    display: block;
    margin: 0 auto 0 auto;
    height: 100%;
}

.titulo-galeria {
    margin-bottom: rem;
}
*/

/* -- Contacto -- */
/*
.titulo-contacto {
    margin-bottom: 4rem;
}

.form-label {
    color: #2D4350;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: clamp(0.7rem, 3vw, 1.25rem);
}

.form-text {
    color: #2D4350;
    margin-bottom: 1.5rem;
}

*/

/*--- MEDIAS QUERYS ---*/

/* -- DESKTOP -- */
// Max-width: igual o menor que el ancho especificado

/*
@media (max-width: 1023px) {
    .galeria-main {
        grid-template-columns: repeat(2, 1fr)
    }
*/
/*Footer*/
/*
    .img-container {
        margin-bottom: 1.5rem;
    }

    .contacto-container {
        margin-bottom: 1.5rem;
    }
*/
/* -- Servicios -- */
/*
    .titulo-servicio {
        text-decoration: none;
    }

    .servicio-item .row {
        display: flex;
        flex-direction: column;
    }

    .img-servicio img {
        display: block;
        margin: 0 auto 0 auto;
    }

    .servicio-item:nth-of-type(odd) .img-servicio img {
        margin: 0 auto 0 auto;
    }

    .servicio-item:nth-of-type(odd) .texto-servicio {
        padding: 0;
    }

    .servicio-item:nth-of-type(even) .texto-servicio {
        padding: 0;
    }
*/
/* -- Servicios -- */
/*
    .nosotros-primeraFila,
    .nosotros-segundaFila {
        flex-direction: column;
        padding: 0;
    }

    .nosotros-primeraFila {
        padding: 2rem 0;
    }

    .nosotros-primeraFila div {
        padding: 2rem 0;
    }

    .nosotros-primeraFila:nth-last-child {
        padding-bottom: 0;
    }

    .nosotros-segundaFila div {
        padding-bottom: 2rem;
    }

}
*/
/* -- MOBILE -- */
/*Max-width: igual o menor que el ancho especificado*/
/*
@media (max-width: 600px) {

    // -- Index -- 
    .galeria-main {
        grid-template-columns: repeat(1, 1fr)
    }

    .subtitulos-main {
        text-decoration: none;
    }
}
    */