@use '../abstracts' as abs;

.contenedor-galeria {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: auto;
        max-width: 450px;
        border: 4px solid abs.color(primary);
        border-radius: 8px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;

        &:hover {
            transform: scale(1.03);
            border-color: abs.color(accent);
            box-shadow: 0 12px 24px rgba(abs.color(primary), 0.3);
            cursor: pointer;
        }
    }
}