@use '../abstracts' as abs;

.imagen-principal {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.titulo-principal {
    @include abs.title-hidden
}

.subtitulos-main {
    color: abs.color(primary);
    text-align: center;
    margin-top: 2.5rem;
    font-size: clamp(1.3rem, 5vw, 2.5rem);
    font-family: abs.typography(font-title);
    text-transform: uppercase;
}

.galeria-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 2rem 0;

    li {
        font-size: clamp(0.8rem, 5vw, 1.5rem);
        color: abs.color(primary);
        text-align: center;
        padding: 2rem;
        border-radius: 8px;
        font-family: abs.typography(font-text);
        text-transform: uppercase;
        letter-spacing: 1px;
        border-bottom: 4px solid abs.color(accent);
        transition: transform 0.5s ease, background-color 0.5s ease;

        .icon-svg {
            display: block;
            margin: 0 auto 1rem auto;
            width: clamp(3rem, 6vw, 4rem);
            height: auto;
            transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        &:hover {
            transform: translateY(-5px);
            background-color: abs.color(accent);

            .icon-svg {
                transform: scale(1.1);
            }
        }
    }

    @include abs.media('tablet') {
        grid-template-columns: repeat(2, 1fr);
    }

    @include abs.media('mobile') {
        grid-template-columns: repeat(1, 1fr);
    }

}