@use '../abstracts' as abs;

.section-title {
    text-align: center;
    font-family: abs.typography(font-title);
    color: abs.color(primary);
    font-size: clamp(2rem, 5vw, 3rem);
    text-transform: uppercase;
}