@use 'sass:map';
@use 'variables' as vars;


// Mixin que se utilizará para ocultar el h1 del index. 
@mixin title-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// Mixin para estilo de botones
@mixin button-style($bg-color, $text-color) {
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    font-family: map.get(vars.$fonts, font-text);
    font-size: clamp(0.5rem, 2.5vw, 1.2rem);
    background-color: $bg-color;
    color: $text-color;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 8px 25px map.get(vars.$palette, accent);
    }
}

//Mixin para MediaQuery
@mixin media($breakpoint) {
    // Aquí se almacena el valor de la mediaquery (si existe definida en las variables)
    $selected-query: map.get(vars.$breakpoints, $breakpoint);

    @if $selected-query {

        // Si hay match de mediaquery se define un max-width
        @media (max-width: $selected-query) {
            @content
        }
    }
}