@use 'functions' as fns;

%normal-text {
    color: fns.color(primary);
    font-size: clamp(0.9rem, 3vw, 1.25rem);
    text-align: left;
    line-height: 1.6;
    font-family: fns.typography(font-text);
}