$palette: (
    // Gris azulado 
    primary:#2D4350,
    //Bronce
    secondary:#EEE4C6,
    //Naranja
    accent: #DC9E67,
    // Rojo
    alert: #B95F50,
);

$fonts: (
    font-title: ('Oswald', sans-serif),
    font-text: ('Roboto', sans-serif)
);

$breakpoints: (
    "mobile": 600px,
    "tablet": 1023px,
);